<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title>Sample</title>
    <style>
        table, th, td {
            border: 1px solid black;
            border-collapse: collapse;
        }
    </style>
</head>
<body>
<h2>Flags</h2>
<table>
    <thead>
    <tr>
        <th>ID</th>
        <th>Key</th>
        <th>Description</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="flag : ${flags}">
        <td th:text="${flag.id}"></td>
        <td th:text="${flag.key}"></td>
        <td th:text="${flag.description}"></td>
    </tr>
    </tbody>
</table>
</body>
</html>